:root {
  --default-font-family: "Courier New", Courier, monospace;
  --default-font-size: 22px;
  --default-font-weight: 400;
}

pre {
  font-size: var(--default-font-size);
  font-weight: var(--default-font-weight);
  font-family: var(--default-font-family);
}

.outer-container {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  gap: 8px; /* Adjust the vertical space between containers */
  padding: 12px 28px 0px 28px; /* Top, Right, Bottom, Left */
  font-size: var(--default-font-size);
  font-weight: var(--default-font-weight);
  font-family: var(--default-font-family);
/*   outline: 1px solid green; */
}

.pre-container {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  padding: 0px 28px 0px 28px; /* Top, Right, Bottom, Left */
  font-size: var(--default-font-size);
  font-weight: var(--default-font-weight);
  font-family: var(--default-font-family);
/*   outline: 1px solid green; */
}

.inner-container {
  display: flex; /* Display items in a row */
  align-items: center; /* Center items vertically */
  gap: 28px;
  font-size: var(--default-font-size);
  font-weight: var(--default-font-weight);
  font-family: var(--default-font-family);
/*   outline: 1px solid orange; */
}

/* Styles for the button container */
.button-container {
  display: flex;
  font-size: var(--default-font-size);
  font-weight: var(--default-font-weight);
  font-family: var(--default-font-family);
/*   outline: 1px solid purple; */
}

.blankSquare {
  font-weight: bold;
  font-size: var(--default-font-size);
  font-family: var(--default-font-family);
  width: 100px;
  height: 50px;
  border: none;
  margin-right: 14px; /* Adjust spacing between buttons */
  background-color: transparent;
/*   outline: 3px solid grey; */
}

/* Styles for each button */
.colorButton {
  font-weight: bold;
  font-size: var(--default-font-size);
  font-family: var(--default-font-family);
  width: 100px;
  height: 50px;
  border: none;
  cursor: pointer;
  margin-right: 14px; /* Adjust spacing between buttons */
  background-color: transparent;
  outline: 3px solid grey;
}

/* Styles for each button */
.submitButton {
  font-weight: bold;
  font-size: var(--default-font-size);
  font-family: var(--default-font-family);
  width: 100px;
  height: 50px;
  border: none;
  cursor: pointer;
  margin-right: 14px; /* Adjust spacing between buttons */
  background-color: transparent;
  outline: 3px solid grey;
}
